.quantity{
    margin: 0 10px ;
}

.btn-add{
    cursor: pointer;
}

.btn-close{
    cursor: pointer;
}

.colection-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}